@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&family=Raleway:wght@100;500;600;900&display=swap");




:root {

    
    --green: rgb(1, 59, 44);
    --gray: #E0E1E0;
    --white: #ffffff;
    --ice-gray: #f1f1f1;
    --content-font: 'Poppins', sans-serif;
    --hover: #298961;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--content-font);
}

body {
    line-height: 1.4;
    background-color: var(--gray);
    overflow-x: hidden;
    text-align: center;
}

header {
    background-color: var(--green);
    padding: 22px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}


ul {
    margin: 0px;
    padding: 0px;
    
}


a {
    color: var(--white);
    text-decoration: none;
    font-family: var(--content-font);
    margin-left: 30px;
}

a:hover {
    background-color: var(--hover);
}


.logoNav {
    height: 80px;
    width: 80px;
    margin-left: 50px;
    
}

#header {
    box-sizing: border-box;
    height: 130px;
    padding: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--green);
}

#menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
}

#menu a {
    display: block;
    padding: 0.5rem;
    
}

#btn-mobile {
    display: none;
}

@media (max-width: 1000px) {
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 128px;
        right: 0px;
        background: var(--green);
        transition: 0.6s;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }

    #nav.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }

    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid var(--white);
    }

    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
        color: var(--white);
    }

    #hamburger {
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,
    #hamburger::before {
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.3s;
        position: relative;
    }

    #nav.active #hamburger {
        border-top-color: transparent;
    }

    #nav.active #hamburger::before {
        transform: rotate(135deg);
    }

    #nav.active #hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}

.introducao h1 {
    text-align: center;
    color: var(--green);
    margin: 60px auto 40px auto;
}


.introducao p {
    text-align: center;
    width: 75%;
    margin: 40px auto 40px auto;
    font-weight: 350;
}

.title {
    text-align: center;
    margin-bottom: 100px;
    font-size: 24px;
    color: var(--green);
}

.title2 {
    text-align: center;
    margin-top: -36px;
    font-size: 16px;
    color: var(--green);
    letter-spacing: 6px;
}


/*conteúdo*/
th {
    color: var(--green);
}

.titulo {
    color: var(--green);
    font-size: 20px;
    margin-bottom: 10px;

}

.titulo2 {
    color: var(--green);
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

}

img {
    margin-top: 10px;

}

.text {
    font-weight: 350;
}

.row-columns {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    padding: 10px;
    margin: 20px auto 40px auto;
}

@media (max-width: 1600px) {
    .row-columns {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        gap: 30px;
        padding: 10px;
        margin: 20px auto 40px auto;
    }
}

@media (max-width: 1100px) {
    .row-columns {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
        padding: 10px;
        margin: 20px auto 40px auto;
    }
}

.column {
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
}

.column img {
    max-width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
    ;
}


footer {
    background-color: var(--green);
    color: var(--white);
    padding: 40px;
}

.txtFooter {
    align-items: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-weight: 300;
    text-align: center;
}


/*IMC*/

.title {
    margin: 50px auto 50px auto;
}

.container p {
    font-weight: 350;
    max-width: 70%;
    margin: 50px auto 50px auto;
}

form {
    width: 50%;
    margin: 0 auto;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=button] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

input[type=button]:hover {
    background-color: #45a049;
}

#imc {
    font-size: 24px;
    font-weight: 400;
    margin-top: 18px;
}

#comentario {
    font-size: 16px;
    margin-top: 5px;
}


.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--green);
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}





